body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #455A64;

    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

thead {
    background-color: #ddd;
}

th {
    text-align: center;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

tr td:nth-child(2) {
    text-align: center;
}

tr td:nth-child(n + 3) {
    text-align: right;
}

.order-btn {
    font-size: 16px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.bottom {
    font-size: 12px;
    font-family: 'PT Mono', monospace;
    color: white;
}

.inner-list {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
}

.inner-order {
    margin-left: auto;
    margin-right: auto;
    width: 564px;
}

.checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.panel {
    margin-bottom: 0px;
}

.panel-order {
    margin-bottom: 20px;
}

.right {
    text-align: right;
}

.help-block {
    margin-bottom: 0px;
}

.locale {
    margin-right: 8px;
    margin-top: 8px;
}